@use '../../../functions/f-get-token' as css;

@use '../../../maps' as m;

$v-breakpoint-map: m.$BREAKPOINT;

// СSS змінні --var()
$v-bp-xs: css.get(breakpoint, xs, css);
$v-bp-mobile: css.get(breakpoint, mobile, css);
$v-bp-tablet: css.get(breakpoint, tablet, css);
$v-bp-desktop: css.get(breakpoint, desktop, css);
$v-bp-xl: css.get(breakpoint, xl, css);
