@use "../../functions/f-get-token" as token;

// Повна мапа line-height
$line-heights: token.get(line-height);

// Звичайні SCSS значення
$lh-tight: token.get(line-height, tight);
$lh-base: token.get(line-height, base);
$lh-relaxed: token.get(line-height, relaxed);
$lh-loose: token.get(line-height, loose);
