@use '../../../functions/f-get-token' as token;

@use '../../../maps' as m;
// СSS змінні --var()

$radius-map: m.$RADIUS;

$r-sm: token.get(radius, sm);
$r-md: token.get(radius, md);
$r-lg: token.get(radius, lg);
