/* #endregion TEAM INFO */

/* #region PORTFOLIO */

/* For mobile */

/* #endregion PORTFOLIO */

/* #region FOOTER */

/* For mobile and tablet */

/* #endregion FOOTER */

/* #region MODAL */

/* Common */
.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Common */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  width: 288px;
  min-height: 584px;
  z-index: 1000;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  padding: 72px 16px 24px 16px;

  transform: translate(-50%, -70%);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Common */
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: inherit;
}

.is-open .modal {
  transform: translate(-50%, -50%);
}

/* For tablet and more */
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}

/* Button exit Common */
.button-exit {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Button exit Common */
.button-exit:hover,
.button-exit:focus {
  border: transparent;
  background-color: #404bbf;
  fill: #ffffff;
}

/* Common */
.modal-icon-exit {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Common */
.modal-title {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

/* Common */
.form-section {
  margin-bottom: 8px;
}

/* Common */
.relative-container {
  position: relative;
}

/* Common */
.input-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

/* Common */
.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: transparent;
  padding-left: 38px;
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Common */
.form-input:focus,
.input-textarea:focus {
  border-color: #4d5ae5;
}

/* Common */
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Common */
.form-input:focus + .modal-icon {
  fill: #4d5ae5;
}

/* Common */
.user-comment {
  margin-bottom: 16px;
}

/* Common */
.input-textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
}

.input-textarea::placeholder {
  color: rgba(46, 47, 66, 0.329);
}

/* Common */
.checkbox {
  margin-bottom: 24px;
}

/* Common */
input[type='checkbox']:checked + label .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

input[type='checkbox']:focus-visible + label .checkbox-span {
  outline: 1px solid #404bbf;
}

/* Common */
.checkbox-label {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.48px;
  color: #8e8f99;
}

/* Common */
.checkbox-span {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

/* Common */
.checkbox-link {
  display: inline;
  color: #4d5ae5;
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* Common */
.submit-button {
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion */

/* #region MOBILE MENU */

.backdrop-mobile {
  background-color: rgba(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 350ms cubic-bezier(0.35, 0.56, 0.36, 0.58);
}

@media only screen and (min-width: 768px) {
  .backdrop-mobile {
    display: none;
  }
}

.mobile-menu {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 72px 24px 40px 16px;
}

.menu-is-open {
  pointer-events: all;
  transform: translateX(0%);
}

.btn-mobile-exit {
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav {
  margin-bottom: auto;
}
.mobile-menu-list {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 320px;
}

.mobile-menu .header-link {
  padding: 0;
}

.mobile-address {
  margin-bottom: 48px;
}
.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  font-style: normal;
}

.mobile-menu-address-item:first-child .mobile-menu-address-link {
  color: #4d5ae5;
}

.mobile-social {
  margin: 0;
  justify-content: space-between;
}

/* #endregion MOBILE MENU */
