@use '../utils/mixins' as mix;

@use '../base/common' as c;

@use '../utils/variables' as v;

.benefits {
  &__list {
    display: grid;
    gap: 25px;

    @include mix.respond-to(tablet) {
      grid-template-columns: repeat(2, 1fr);

      gap: 24px 50px;
    }

    @include mix.respond-to(desktop) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__icon-box {
    display: none;

    @include mix.respond-to(tablet) {
      display: block;
    }

    @include mix.respond-to(desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f4f4fd;
      border: 1px solid #8e8f99;
      border-radius: 4px;
      width: 100%;
      min-height: 112px;
    }
  }

  &__subtitle {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;

    @include mix.respond-to(tablet) {
      text-align: left;
    }

    @include mix.respond-to(desktop) {
      font-size: 20px;
      line-height: 1.2;
      font-weight: 500;
      color: #2e2f42;
    }
  }

  &__text {
    font-weight: 500;

    @include mix.respond-to(desktop) {
      font-weight: 400;
    }
  }
}
