@use '../utils/mixins' as mix;

@use '../base/common' as c;

@use '../utils/variables' as v;

@use '../base/typography' as t;

.footer {
  background-color: #2e2f42;
  padding: 97px 0;

  @include mix.respond-to(desktop) {
    padding: 100px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include mix.respond-to(desktop) {
      flex-direction: row;
      justify-content: space-around;
      align-items: start;
    }
  }
  &__logo-section {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include mix.respond-to(tablet) {
    }
  }

  &__logo {
    @extend .logo;

    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgb(255, 255, 255);
    }

    &--accent {
      color: v.$color-light;
    }
  }

  &__description {
    color: #f4f4fd;
    text-align: left;

    @include mix.respond-to(tablet) {
      max-width: 264px;
    }
  }

  &__social-section {
    color: #fff;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__social-list {
    display: flex;
    gap: 16px;
  }

  &__social-link {
    fill: v.$color-primary;

    &:hover,
    &:focus {
      fill: #31d0aa;
    }
  }

  &__subscribe {
    color: #fff;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include mix.respond-to(tablet) {
      flex-direction: row;
    }
  }

  &__input {
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

    &::placeholder {
      color: #fff;
    }

    @include mix.respond-to(tablet) {
      width: 264px;
    }
  }

  &__button {
    @include mix.button-variant(v.$color-primary, v.$color-hover);
    padding: 10px;
  }

  &__button-icon {
    fill: #fff;
  }
}
