@use '../utils/mixins' as mix;

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  @include mix.respond-to(tablet) {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    padding: 16px 0;

    @include mix.respond-to(tablet) {
      padding: 25.5px 0;
    }
  }

  &__container {
    @include mix.respond-to(tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__menu-btn {
    padding: 10px;
    border: transparent;
    background-color: transparent;

    @include mix.respond-to(tablet) {
      display: none;
    }
  }

  &__list {
    display: none;

    @include mix.respond-to(tablet) {
      display: flex;
      gap: 40px;
      margin-left: 120px;
    }

    @include mix.respond-to(desktop) {
      margin-left: 76px;
    }
  }

  &__link {
    font-weight: 500;
    padding: 24px 0;
    color: #2e2f42;

    &:hover,
    &:focus {
      color: #404bbf;
    }
  }

  &__item {
    position: relative;

    @include mix.respond-to(tablet) {
      .header-link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
        transform: scaleX(0);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
          transform 300ms ease-in-out;
      }
    }
  }

  &__address {
    display: none;

    @include mix.respond-to(tablet) {
      display: block;
    }
  }

  &__address-list {
    @include mix.respond-to(tablet) {
      display: flex;
      flex-direction: column;
      gap: 12px;
      font-style: normal;
      font-size: 12px;
      font-style: normal;
      line-height: 1.17;
      letter-spacing: 0.48px;
    }

    @include mix.respond-to(desktop) {
      flex-direction: row;
      gap: 40px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.32px;
    }
  }

  &__address-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: #404bbf;
    }
  }
}
