@use '../abstracts' as *;

.hero {
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;

  @include mix.background-with-retina(
    '@/assets/images/hero/hero-bg_mob.jpg',
    '@/assets/images/hero/hero-bg_mob@2x.jpg'
  );

  @include mix.respond-to(tablet) {
    max-width: 768px;
    padding: 112px 0;

    @include mix.background-with-retina(
      '@/assets/images/hero/hero-bg_tab.jpg',
      '@/assets/images/hero/hero-bg_tab@2x.jpg'
    );
  }

  @include mix.respond-to(desktop) {
    max-width: 1440px;
    padding: 188px 0;

    @include mix.background-with-retina(
      '@/assets/images/hero/hero-bg_desk.jpg',
      '@/assets/images/hero/hero-bg_desk@2x.jpg'
    );
  }

  &__title {
    color: #fff;
    max-width: 216px;
    margin: 0 auto 72px auto;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;

    @include mix.respond-to(tablet) {
      margin: 0 auto 36px auto;
      max-width: 496px;
      font-size: 56px;
      line-height: 60px;
      letter-spacing: 1.12px;
    }

    @include mix.respond-to(desktop) {
      margin: 0 auto 48px auto;
    }
  }

  &__button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    padding: 15px;

    @include mix.button-variant(v.$color-primary, v.$color-hover);
  }
}
