$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Raleway', sans-serif;

$color-primary: #4d5ae5;
$color-secondary: #2e2f42;
$color-hover: #404bbf;
$color-light: #f4f4fd;
$color-dark: #434455;

$bg-light: #ffffff;
$bg-dark: #2e2f42;

$transition-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1158px;
