@use "../../functions/f-get-token" as css;

// СSS змінні --var()

// Spacing GAP
$v-gap-none: css.get(spacing, "gap.none", css);
$v-gap-xxs: css.get(spacing, "gap.xxs", css);
$v-gap-xs: css.get(spacing, "gap.xs", css);
$v-gap-sm: css.get(spacing, "gap.sm", css);
$v-gap-md: css.get(spacing, "gap.md", css);
$v-gap-lg: css.get(spacing, "gap.lg", css);
$v-gap-xl: css.get(spacing, "gap.xl", css);
$v-gap-xxl: css.get(spacing, "gap.xxl", css);

// Spacing LAYOUT

$v-layout-none: css.get(spacing, "layout.container-max", css);
$v-layout-xxs: css.get(spacing, "layout.container-min", css);
$v-layout-xs: css.get(spacing, "layout.section", css);

// Spacing MARGIN
$v-margin-none: css.get(spacing, "margin.none", css);
$v-margin-xxs: css.get(spacing, "margin.xxs", css);
$v-margin-xs: css.get(spacing, "margin.xs", css);
$v-margin-sm: css.get(spacing, "margin.sm", css);
$v-margin-md: css.get(spacing, "margin.md", css);
$v-margin-lg: css.get(spacing, "margin.lg", css);
$v-margin-xl: css.get(spacing, "margin.xl", css);
$v-margin-xxl: css.get(spacing, "margin.xxl", css);

// Spacing PADDING
$v-padding-none: css.get(spacing, "padding.none", css);
$v-padding-xxs: css.get(spacing, "padding.xxs", css);
$v-padding-xs: css.get(spacing, "padding.xs", css);
$v-padding-sm: css.get(spacing, "padding.sm", css);
$v-padding-md: css.get(spacing, "padding.md", css);
$v-padding-lg: css.get(spacing, "padding.lg", css);
$v-padding-xl: css.get(spacing, "padding.xl", css);
$v-padding-xxl: css.get(spacing, "padding.xxl", css);

// $v-section: css.get(spacing, "gap." section, css);
// $v-container-min: css.get(spacing, "gap." container-min, css);
// $v-container-max: css.get(spacing, "gap." container-max, css);
