@use '../../functions/f-get-token' as css;

// СSS змінні --var()

// Backround
$v-bg-primary: css.get(color, 'bg.primary', css);
$v-bg-secondary: css.get(color, 'bg.secondary', css);
$v-bg-tertiary: css.get(color, 'bg.tertiary', css);
$v-bg-frame: css.get(color, 'bg.frame', css);
$v-bg-hover: css.get(color, 'bg.hover', css);
$v-bg-accent: css.get(color, 'bg.accent', css);
$v-bg-overlay: css.get(color, 'bg.overlay', css);

// Border
$v-border-primary: css.get(color, 'border.primary', css);
$v-border-secondary: css.get(color, 'border.secondary', css);
$v-border-tertiary: css.get(color, 'border.tertiary', css);
$v-border-accent: css.get(color, 'border.accent', css);

// Button
$v-btn-primary: css.get(color, 'button.primary', css);
$v-btn-secondary: css.get(color, 'button.secondary', css);
$v-btn-tertiary: css.get(color, 'button.tertiary', css);
$v-btn-accent: css.get(color, 'button.accent', css);
$v-btn-pressed: css.get(color, 'button.pressed', css);
$v-btn-hover: css.get(color, 'button.hover', css);

// Icon
$v-icon-primary: css.get(color, 'icon.primary', css);
$v-icon-secondary: css.get(color, 'icon.secondary', css);
$v-icon-tertiary: css.get(color, 'icon.tertiary', css);
$v-icon-accent: css.get(color, 'icon.accent', css);
$v-icon-hover: css.get(color, 'icon.hover', css);
$v-icon-success: css.get(color, 'icon.success', css);
$v-icon-error: css.get(color, 'icon.error', css);

// Status
$v-status-default: css.get(color, 'status.default', css);
$v-status-info: css.get(color, 'status.info', css);
$v-status-success: css.get(color, 'status.success', css);
$v-status-warning: css.get(color, 'status.warning', css);
$v-status-danger: css.get(color, 'status.danger', css);

// Text
$v-text-primary: css.get(color, 'text.primary', css);
$v-text-secondary: css.get(color, 'text.secondary', css);
$v-text-tertiary: css.get(color, 'text.tertiary', css);
$v-text-accent: css.get(color, 'text.accent', css);
$v-text-hover: css.get(color, 'text.hover', css);
$v-text-title: css.get(color, 'text.title', css);

// Scroll-bar
$v-scroll-primary: css.get(color, 'scroll.primary', css);
$v-scroll-secondary: css.get(color, 'scroll.secondary', css);
$v-scroll-tertiary: css.get(color, 'scroll.tertiary', css);
$v-scroll-accent: css.get(color, 'scroll.accent', css);
