@use '../utils/mixins' as mix;
@use '../utils/variables' as v;

.container {
  max-width: 320px;
  margin-inline: auto;
  padding: 0 16px;

  @include mix.respond-to(tablet) {
    max-width: 768px;
  }

  @include mix.respond-to(desktop) {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.section {
  padding: 50px 0;

  @include mix.respond-to(tablet) {
    padding: 80px 0;
  }

  @include mix.respond-to(desktop) {
    padding: 100px 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
  border: 0;
}

.logo {
  font-family: v.$font-secondary;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: v.$color-primary;

  &__accent {
    color: inherit;
  }
}

.social-svg {
  fill: #f4f4fd;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link:hover,
  &__link:focus {
    background-color: #404bbf;
  }
}

.observer-target {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, transform;
}

.observer-target.show {
  opacity: 1;
  transform: translateY(0);
}

.observer-delay-1 {
  transition-delay: 0.2s;
}
.observer-delay-2 {
  transition-delay: 0.4s;
}
.observer-delay-3 {
  transition-delay: 0.6s;
}
.observer-delay-4 {
  transition-delay: 0.8s;
}
