@use '../../../functions/f-get-token' as token;

@use '../../../maps' as m;

$font-weight-map: m.$FONT-WEIGHT;

// Звичайні SCSS-значення
$fw-regular: token.get(font-weight, regular);
$fw-medium: token.get(font-weight, medium);
$fw-bold: token.get(font-weight, bold);
