@use '../abstracts' as *;

.footer {
  background-color: $v-bg-tertiary;
  color: $v-text-secondary;

  &__container {
    padding-block: $v-padding-xxl;
    row-gap: $v-gap-xl;
    @include flex-col-y();
    @include mq(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include mq(desktop) {
      flex-wrap: nowrap;
      column-gap: $v-gap-xl;
    }
  }

  &__logo-section {
    max-width: rem(264px);

    @include mq(tablet, max) {
      text-align: center;
    }
    @include mq(desktop, max) {
      margin-right: auto;
    }
  }
  &__logo {
    display: block;

    font-weight: $v-fw-bold;
    font-size: $v-fs-md;
    line-height: $v-lh-relaxed;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $v-text-accent;
    margin-bottom: $v-margin-md;
  }
  &__logo--accent {
    color: $v-text-secondary;
  }
  &__description {
    text-align: left;
  }
  &__social-section {
    @include flex-col-y(sm);
    @include mq(tablet) {
      align-items: start;
    }
  }
  &__social-title {
    font-weight: $v-fw-regular;
  }
  &__social-list {
    @include flex-x(md);
  }
  &__social-item {
    background-color: $v-bg-frame;

    @include frame(40px, 40px, true);
  }
  &__social-link {
    width: 100%;
    height: 100%;

    @include transition-bg-color;
    @include flex-center;
    @include hover {
      background-color: $v-bg-tertiary;
    }
  }
  &__social-icon {
    width: rem(24px);
    height: rem(24px);
  }
  &__subscribe {
    width: 100%;

    @include flex-col-y(sm);
    @include mq(tablet) {
      align-items: start;
    }
  }
  &__subscribe-title {
    font-weight: $v-fw-bold;
  }
  &__form {
    width: 100%;

    @include flex-col-y(sm);
    @include mq(tablet) {
      flex-direction: row;
    }
  }
  &__input {
    width: 100%;
    max-width: rem(264px);

    padding-inline: $v-padding-md;
    padding-block: $v-padding-xs;

    border-radius: $v-r-sm;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.7;

    @include outline(2px, primary);
    @include transition-all;
    @include placeholder {
      color: $v-text-secondary;
    }
    @include focus {
      @include outline(2px, secondary);
    }
  }
  &__button {
    @include button-base;

    @include flex-y(md);
    @include transition-bg-color;
    @include hover {
      background-color: $v-btn-hover;
    }
  }
}
